force-app/main/default/flows/flowWithRecordsFromGetActions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Accounts_to_JSON</name>
        <label>Convert Accounts to JSON</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>FlowLightningTableController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>sObjectsAsJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLightningTableController</nameSegment>
        <outputParameters>
            <assignToReference>sObjectsAsJSON</assignToReference>
            <name>json</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Contacts_to_JSON</name>
        <label>Convert Contacts to JSON</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>FlowLightningTableController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Contacts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLightningTableController</nameSegment>
        <outputParameters>
            <assignToReference>sObjectsAsJSON</assignToReference>
            <name>json</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Opportunities_to_JSON</name>
        <label>Convert Opportunities to JSON</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>FlowLightningTableController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>first_screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>json</name>
            <value>
                <elementReference>sObjectsAsJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Opportunities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLightningTableController</nameSegment>
        <outputParameters>
            <assignToReference>sObjectsAsJSON</assignToReference>
            <name>json</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>flowWithRecordsFromGetActions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowWithRecordsFromGetActions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Accounts_to_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingState</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Contacts_to_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssistantName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Opportunities_to_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0012X000023U9yvQAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>first_screen</name>
        <label>first screen</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tableFlow</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowLightningTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Table with records from Get Actions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serialisedRecordsString</name>
                <value>
                    <elementReference>sObjectsAsJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjectsAsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
